/* HomePage styling */
.home-page {
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  .header {
    background-color: #0097b2;
    color: white;
    padding: 50px 20px;
  }
  
  .header h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
  }
  
  .header p {
    font-size: 1.2rem;
  }
  
  /* About Section styling */
  .about-section {
    background-color: #f9f9f9;
    padding: 60px 20px;
  }
  
  .about-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .about-text {
    flex: 1;
    padding: 20px;
  }
  
  .about-text h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .about-text p {
    font-size: 1.1rem;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  .explore-services-btn {
    background-color: #0097b2;
    color: white;
    padding: 10px 20px;
    font-size: 1rem;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .explore-services-btn:hover {
    background-color: #007a8d;
  }
  
  .about-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  /* Footer styling */
  .footer {
    background-color: #333;
    color: white;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center
  }
  